body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #D8DBE2;
}

.MainContainer {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

a:link {
    text-decoration: none;
    color: rgb(201, 169, 133);
}

a:visited {
    text-decoration: none;
    color: rgb(201, 169, 133);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:active {
    text-decoration: none;
    color: rgb(201, 169, 133);
}


/* PERVAJA CHAST S LOGO I MENU */

.ContainerOne {
    margin: 0;
    border: 0;
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 34px;
    display: flex;
    flex-direction: row;
    background-color:  rgb(22, 23, 31);
    justify-content: space-between;
    flex-wrap: wrap;

}

.LogoName {
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    
}

.nameFirst {
    text-align: start;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
    height: 6rem;
    font-size: 6rem;
    color: rgb(118, 91, 69);
}

.nameSecond {
    text-align: start;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
    height: 6rem;
    font-size: 6rem;
    color: rgb(248, 201, 146);
}

.nameThird {
    font-family: 'Oswald', sans-serif;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 0.88rem;
    padding-bottom: 36px;
    color: rgb(118, 91, 69);
}

.navigationLine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0px;
    padding-top: 51px;
    column-gap: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.34rem;
    color: rgb(201, 169, 133);
}

.navLang {
    border: 1px solid rgb(201, 169, 133) ;
    height: fit-content;
    padding: 11px;
    letter-spacing: 0;
}

/* VTORAJA CHAST S KARTOCHKAMI PROEKTOV*/

.PartTwo {
    padding-top: 100px;
    padding-bottom: 100px;
    

}

.PortfolioOne  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4rem;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;

}

.PortfolioTwo  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4rem;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 300px;
    padding-right: 300px;

}


/* KARTOCHKI S DOMAMI   */

.Houses {
    display: flex;
    flex-direction: column;
    padding: 17px;
    background-color: rgb(22, 23, 31);
    z-index: +1;
    border-radius: 5px;
    transition: 0.4s;
}

.Houses:hover {
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;
}

.JustMore {
    border-radius: 5px;
    transition: 0.4s;
}

.Houses:hover .JustMore {
    border-radius: 20px;
}

.JustMore:hover {
    background-color: white;
    cursor: pointer;
}


.HouseBerPic {
    display: flex;
    flex-direction: row;
    background-image: url(./House\ in\ Bergi/Ezerparka_8_Viz_FINAL__1_cor.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    border-radius: 2px;
    transition: 0.8s;
}

.HouseBerTOP {
    height: 80px; 
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.7rem;
}

.BerInfo {
    text-align: left;
    height: 40px; 
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
}

.BerMore {
   
    width: fit-content;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: +1;
    color:  rgb(5, 7, 23);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(201, 169, 133);
}

.HouseCarPic {
    display: flex;
    flex-direction: row;
    background-image: url(./House\ in\ Carnikava/1_View_Makonu_7_cor3.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    border-radius: 2px;
    transition: 0.8s;
}

.HouseCarTOP {
    height: 80px; 
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.7rem;
}

.CarInfo {
    text-align: left;
    height: 40px; 
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
}

.CarMore {
   
    width: fit-content;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: +1;
    color:  rgb(5, 7, 23);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(201, 169, 133);
}

.HouseRamPic {
    display: flex;
    flex-direction: row;
    background-image: url(./House\ in\ Ramava/Klinshu2__FINviz__2_FINAL_.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    border-radius: 2px;
    transition: 0.8s;
}

.HouseRamTOP {
    height: 80px; 
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.7rem;
}

.RamInfo {
    text-align: left;
    height: 40px; 
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
}

.RamMore {
   
    width: fit-content;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: +1;
    color:  rgb(5, 7, 23);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(201, 169, 133);
}

.HouseGarPic {
    display: flex;
    flex-direction: row;
    background-image: url(./House\ in\ Garkalne/Viz__Sofijas22__FIN__1_f.jpg);
    width: 280px;
    height: 350px;
    background-size: cover;
    border-radius: 2px;
    transition: 0.8s;
}

.HouseGarTOP {
    height: 80px; 
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.7rem;
}

.GarInfo {
    text-align: left;
    height: 40px; 
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
}

.GarMore {
   
    width: fit-content;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: +1;
    color:  rgb(5, 7, 23);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(201, 169, 133);
}

.HouseAldPic {
    display: flex;
    flex-direction: row;
    background-image: url(./House\ in\ Alderi/VIZ__Kanala_5__FIN__1.jpg );
    width: 280px;
    height: 350px;
    background-size: cover;
    border-radius: 2px;
    transition: 0.8s;
}

.HouseAldTOP {
    height: 80px; 
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.7rem;
}

.AldInfo {
    text-align: left;
    height: 40px; 
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
}

.AldMore {
   
    width: fit-content;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: +1;
    color:  rgb(5, 7, 23);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(201, 169, 133);
}

.HouseAdaPic {
    display: flex;
    flex-direction: row;
    background-image: url(./House\ in\ Adazi/1_View_Adazi_cor.jpg );
    width: 280px;
    height: 350px;
    background-size: cover;
    border-radius: 2px;
    transition: 0.8s;
}

.HouseAdaTOP {
    height: 80px; 
    text-align: center;
    margin: 0;
    border: 0;
    padding-top: 7px;
    padding-bottom: 10px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Alumni Sans', sans-serif;
    font-size: 1.7rem;
}

.AdaInfo {
    text-align: left;
    height: 40px; 
    margin: 0;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: +1;
    color: rgb(201, 169, 133);
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
}

.AdaMore {
   
    width: fit-content;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: +1;
    color:  rgb(5, 7, 23);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(201, 169, 133);
}




/* RAZVERNUTIJE KARTOCHKI */



.berFull {

    flex-basis: 100%;
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;

}

.berDescription {
    background-image: none;
    width: auto;
    height: 350px;
    color: rgb(201, 169, 133);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}

.carFull {

    flex-basis: 100%;
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;

}

.carDescription {
    background-image: none;
    width: auto;
    height: 350px;
    color: rgb(201, 169, 133);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}

.ramFull {

    flex-basis: 100%;
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;

}

.ramDescription {
    background-image: none;
    width: auto;
    height: 350px;
    color: rgb(201, 169, 133);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}

.garFull {

    flex-basis: 100%;
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;

}

.garDescription {
    background-image: none;
    width: auto;
    height: 350px;
    color: rgb(201, 169, 133);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}

.aldFull {

    flex-basis: 100%;
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;

}

.aldDescription {
    background-image: none;
    width: auto;
    height: 350px;
    color: rgb(201, 169, 133);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}

.adaFull {

    flex-basis: 100%;
    background: linear-gradient(30deg, rgb(74, 78, 97) 0%, rgb(22, 23, 31) 30%, rgb(43, 46, 64) 200%);
    border-radius: 30px;

}

.adaDescription {
    background-image: none;
    width: auto;
    height: 350px;
    color: rgb(201, 169, 133);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}



/* FOOTER TEKST S KONTAKTNOJ INFORMACIJEI */

.PartThree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    border: 0;
    padding: 40px 300px 47px 300px;
    background-color:  rgb(22, 23, 31);
}

.ContactInfo {

    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: rgb(132, 104, 82);
}

.ContactInsta {
    padding-right: 2px;
    letter-spacing: 0.5rem;
    color: rgb(132, 104, 82);
}